{{ form_start(form) }}
<p class="check-message"></p>
{{ form_row(form.name) }}
{{ form_row(form.type) }}
{{ form_row(form.salesManager) }}
{{ form_row(form.rebate) }}
{{ form_row(form.countries) }}
<hr>
<div class="form-field">
    <div class="align-right">{{ form_row(form.save) }}

    </div>
</div>
{{ form_end(form) }}

