{% extends 'base.html.twig' %}

{% block body_id 'demo_index' %}
{% block body_class 'demo' %}
{% block page_title 'demo.demo_list'|trans %}

{% block extra_buttons %}
    <a href="{{ path('demo_new') }}" class="btn btn-square btn-add"><span
                class="icon"></span>{{ 'demo.add_demo'|trans }}</a>
{% endblock %}

{% block main %}

<div class="panel panel-table">
        {{ include('form/seach.html.twig') }}
        <div class="panel-list panel-table flex-table">
            <div class="panel-body">
                <div class="table-container table-demo-managers">
                    <table class="display js-demo-table">
                        <thead>
                        <tr>
                            <th class="sortable">{{ 'common.url'|trans }}</th>
                            <th class="sortable">{{ 'common.format'|trans }}</th>
                            <th class="sortable">{{ 'common.status'|trans }}</th>
                            <th class="sortable">{{ 'common.video'|trans }}</th>
                            <th class="sortable">{{ 'common.date'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('demoIndex') }}
    
{% endblock %}
