<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vidoomy Media</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/bxo2shj.css">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% block xtra_stylesheets %}{% endblock %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
    <input type="hidden" id="vue-user" value="{{app.user | serialize('json')}}" />
    <div class="action-modals-wrapper">
        <div class="action-modals success">
            <div class="icon"></div>
            <p class="js-action-modal-message"></p>
        </div>
        <div class="action-modals error">
            <div class="icon"></div>
            <p class="js-action-modal-message"></p>
        </div>
        <div class="action-modals forbidden">
            <div class="icon"></div>
            <p class="js-action-modal-message"></p>
        </div>
        <div class="action-modals warning">
            <div class="icon"></div>
            <p class="js-action-modal-message"></p>
        </div>
        {% for label, messages in app.flashes %}
        <div class="action-modals {{ label }} active">
            <div class="icon"></div>
            {% for message in messages %}
            <p class="js-action-modal-message">{{ message }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="container" id="vue-container">
        <header>
            <div class="row-logo">
                <div class="logo1">
                    <a href="javascript:void(0)">
                        <img src="{{ asset('build/images/logo.svg') }}" alt="vidoomy logo">
                    </a>
                </div>
                <button type="button" class="burger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
            </div>
            <div class="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </div>

            <div class="notif-bell"></div>

            <div class="user dropdown">
                {% if is_granted("ROLE_PREVIOUS_ADMIN") %}
                {% set impersonatedClass = " impersonating" %}
                {% else %}
                {% set impersonatedClass = "" %}
                {% endif %}
                {% if app.user.username is defined %}
                {% if app.user.picture is not null %}
                <div class="user-img{{ impersonatedClass }}" id="header-profile-picture"
                    style="background-image: url({{ asset(app.user.picture) }})"></div>
                {% else %}
                <div class="user-img{{ impersonatedClass }}" id="header-profile-picture"
                    style="background-image: url({{ asset('build/images/default-profile.png') }})"></div>
                {% endif %}
                <span>{{ app.user.username }}</span>
                <ul class="dropdown-menu">
                    {% if is_granted('ROLE_SALES_MANAGER') %}
                    <li>
                        <a href="{{ path('user_account') }}">{{ 'users.edit_user'|trans }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('app_logout') }}">Cerrar Sesion</a>
                    </li>
                    {% if is_granted("ROLE_PREVIOUS_ADMIN") %}
                    <li>
                        <a
                            href="{{ path('reports', { '_switch_user': '_exit' }) }}">{{ 'exit_impersonation' | trans }}</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </header>

        {% block nav_menu %}
        {{ include('menu.html.twig') }}
        {% endblock %}

        <section class="main{% block extra_classes %}{% endblock %}">
            <div class="section-header-flex">
                <div>
                    <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
                    <p class="page-subtitle">{% block page_subtitle %}{% endblock %}</p>
                </div>
                <div>
                    {% block extra_buttons %}{% endblock %}
                </div>
            </div>


            <div class="js-main-container">
                {% block main %}
                {% endblock %}
            </div>

            <div class="popup-wrapper">
                <div class="bg-screen"></div>
                <div class="popup-container popup-trigger popup-cropper">
                    <div class="popup-header">
                        <h4><span class="icon"></span>{{ 'cropper.popup.header.title' | trans }}</h4>
                        <a href="javascript:void(0)" class="close-btn"></a>
                    </div>
                    <div class="popup-body align-center">
                        <div>
                            {% if app.user.picture is null %}
                            <img alt="{{ app.user.username }}" id="cropper-profile-picture"
                                src="{{ asset('build/images/default-profile.png') }}"
                                style="width: 50%; height: 50%;" />
                            {% else %}
                            <img alt="{{ app.user.username }}" id="cropper-profile-picture" src="{{ app.user.picture }}"
                                style="width: 50%; height: 50%;" />
                            {% endif %}
                            <div style="display: none">
                                <input type="file" id="upload" value="Choose a file" accept="image/*">
                            </div>
                        </div>
                        <hr>
                        <div class="form-field">
                            <div class="align-center">
                                <a href="javascript:void(0)" id="cropper-close"
                                    class="btn btn-square close-btn">{{ 'common.cancel'|trans }}</a>
                                <a href="javascript:void(0)" id="cropper-upload"
                                    class="btn btn-square">{{ 'common.upload'|trans }}</a>
                                <button id="cropper-submit"
                                    class="btn btn-square flat-btn">{{ 'common.update'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer>
            <div class="address m-hidden"></div>
            <div class="copyright">
                © {{ "now"|date("Y") }} Vidoomy Media S.L.
            </div>
        </footer>
    </div>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', {'domain': 'messages', 'locales': app.user.locale }, true) }}">
    </script>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('main') }}
    {% block xtra_javascriptes %}{% endblock %}
    {% endblock %}
</body>

</html>