{% extends 'base.html.twig' %}

{% block body_id 'users-add' %}
{% block body_class 'users' %}
{% block page_title 'users.add_user'|trans %}

{% block breadcrumb %}
    <a href="{{ path('user_index') }}">{{ 'users'|trans }}</a>
    <span>{{ 'users.add_user'|trans }}</span>
{% endblock %}

{% form_theme form 'fields.html.twig' %}

{% block main %}
    <div class="panel panel-half panel-icon-header">
        <div class="panel-header">
            <h4><span class="icon edit"></span>{{ 'users.new_user'|trans }}</h4>
        </div>
        <div class="panel-body">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('userIndex') }}
{% endblock %}
